body{
  background-color: white;
}
/* p{
  color: RGB(213,213,214);
}
h1{
  color: white;
} */

.app {
  margin: 50px;
  display: flex;
  place-items: center;
}

.n-layout-scroll-container {
  text-align: center;
}
a {
  text-decoration: none;
}
 
.router-link-active {
  text-decoration: none;
}

